<%
layout(_view.get('_layout/content'));

script('front/vendor/vue/vue.js');
script('front/script/breadcrumbs.js');
script('front/script/assignedTask.js');
script('front/script/assignedTasks.js');
script('front/script/createdTask.js');
script('front/script/createdTasks.js');
script('front/script/mainPage.js');
script('front/script/pagination.js');
script('front/script/mixin.js');
script('front/script/front.js');

const user = _controller.user;
const guest = user.isGuest();
const executor = !guest && user.hasAssignment('executor');
const manager = !guest && user.hasAssignment('manager');
%>

<%- include('./_breadcrumbs') %>
<%- include('./_assignedTask') %>
<%- include('./_assignedTasks') %>
<%- include('./_createdTask') %>
<%- include('./_createdTasks') %>
<%- include('./_mainPage') %>
<%- include('./_pagination') %>

<%- include(_view.get('_part/signboard')) %>

<div id="front"
     data-executor="<%- executor %>"
     data-manager="<%- manager %>"
     data-user-id="<%- user.getId() %>"
     data-auth-url="<%- _url('/auth/sign-in?returnUrl=/front') %>"
     data-data-url="<%- _url('/api/base/data') %>"
     data-csrf="<%- _controller.getCsrfToken() %>">

    <keep-alive include="main-page">
        <componen :is="activePage" v-bind="activePageProps"></componen>
    </keep-alive>
</div>